
/****************************************************************************************************************************************************************************************/
/************************************************************************************My Badges informations****************************************************************************************************/
/****************************************************************************************************************************************************************************************/


@font-face {
    font-family: 'open_sanssemibold';
    src: url('/gamification-portlets/skin/fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('/gamification-portlets/skin/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/gamification-portlets/skin/fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('/gamification-portlets/skin/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/gamification-portlets/skin/fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('/gamification-portlets/skin/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#user-reputation-portlet .img-thumbnail {
    border-radius: 50%;
    height: 60px;
    text-indent: -99999px;
}
m-1 img-thumbnail img-fluid:hover {
    background-position: 0 0;
}
#reputation-badge-container {
    padding-right: 10px !important;
    padding-left: 10px !important;
    text-align: center;
}
options{
    color: dimgray;
    shadowEnable: true;
    shadowColor: '#000000';
    fontSize: 14;
    fontFamily: 'Helvetica';
    dynamicPosition: false;
    hideText: false;
}
.grey{
    filter: grayscale(100%) contrast(19%);
    webkit-filter: grayscale(100%) contrast(19%);
}
.greytwo{
    filter: contrast(19%);
    webkit-filter:contrast(19%);
}
.title-badges {
    color: #333333;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    text-align: center;
}
.cat-badges {
    font-family: 'open_sansregular';
    color: #333333;
    font-size: 11px;
}

.desc-badges {
    padding: 0px 15px;
    font-family: 'open_sansregular';
    color: #333333;
    padding-bottom: 12px;
}
.level-badges {
    background: #4f6998;
    padding: 14px 14px 6px;
    font-size: 34px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    line-height: 10px;
    position: relative;
    border-radius: 50%;
    font-family: 'open_sansbold';
}
.level-badges span {
    font-size: 9px;
    font-weight: normal;
    font-family: 'open_sansregular';
}
.popover-body {
    text-align: center;
}

#reputation-badge-container .prog-point {
    background: #f0f8fe;
    min-height: 46px;
    padding: 5px 5px 2px 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    top: 2px;
    position: relative;
}
.prog-pointS{
    background: #f0f8fe;
    min-height: 46px;
    padding: 5px 5px 2px 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    top: 2px;
    position: relative;
}

.first-number {
    padding-top: 4px;
    border-radius: 50%;
    background: #60a352;
    color: #fff;
    font-family: 'open_sansregular';
    font-size: 12px;
    float: left;
    position: relative;
    z-index: 10;
    top: 7px;
    width: 30px;
    height: 30px;
    padding: 1px;
    line-height: 27px;
    text-align: center;
}
.last-number {
    font-size: 14px;
    float: left;
    background: #60a352;
    color: #fff;
    font-family: 'open_sansregular';
    border-radius: 50%;
    position: relative;
    z-index: 10;
    border: 3px solid #c7e5c8;
    float: right;
    width: 40px;
    height: 40px;
    top: -2px;
    line-height: 35px;
    text-align: center;
    position: relative;
    padding: 1px;
}

.bg-red {
    background: #fd7e14;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 20px;
    top: 1px;
}
.interval {
    height: 2px;
    background: #60a352;
    float: left;
    position: absolute;
    bottom: 4px;
    width: 91%;
    left: 7px;
}



@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        width: 28%;
        float: left;
    }
}
/*new*/
body
{
    margin:0;
    padding:0;
}

/*default box*/

#reputation-badge-container .protected .box {
    width: 90px;
    height: 90px;
    margin: 60px auto 20px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 2px 150px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transform: translateZ(0); }


@media only screen and  (min-width: 767px)and(max-width: 378px)
{
    #reputation-badge-container .protected .box {
        margin: 20px !important; }

}



.protected .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}
/*    Percentage  box  */
.protected .boxpercent {
    width: 90px;
    height: 90px;
    margin: 60px auto 20px;
    border-radius: 100%;
    border: 4px solid white;
    background: white;
    box-shadow: 0 2px 150px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}
.protected .boxpercent:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

line{
    margin-top: -2px;
}




@keyframes drift {
    from {
        transform: rotate(0deg); }
    from {
        transform: rotate(360deg); }
}
.protected.content.bg-indigo {
    display: flex;
}
@media (max-width: 767px) {
    .protected.content.bg-indigo {
        display: flex;
        flex-wrap: wrap;
    }

}


/* PROGRESS Bar in the badge */

#reputation-badge-container .progress-bar{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress-bar {
    display: inline-block;
    align-content: stretch;
    height: 85px !important;
    width: 98px !important;
    transform: rotate(-90deg);
    margin-top: -99px;
}
.progress{
    animation: drift 2.5s infinite linear;
}
.progress-container {
    stroke-width: 2px;}
.top {
    z-index: 2;
}
.progress-content {
    stroke-width: 2px;
}

line:nth-child(1) {
    display:none;
}
text:nth-child(3) {
    visibility: hidden;
}
line:nth-child(2):after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 90px;
    height: 90px;
    background-color: rgba(0, 255, 0, 0.3);
    left: 0;
    top: 27px;
    stroke: rgba(0, 255, 0, 0.3) !important;
}
line:nth-child(1):after {
    stroke: rgba(0, 255, 0, 0.3) !important;
}


/*Alignement of the progress bar in the popover*/

svg#line-progress {
    margin-top: 14px;
    transform: translateY(-20px);
}

.popover svg#line-progress {
    margin-top: 14px;
    transform: translateY(-12px);
    margin-left: -42px;
}

.popover .prog-pointS .progress-bar {
    transform: none;
    height: 10px !important;
    width: 197px !important;
    margin-top: 15px !important;
}
.popover .prog-pointS svg#line-progress {
    height: 10px !important;
    width: 193px !important;
}
.last-numberS {
    position: absolute !important;
    right: 0;
    bottom: 0;
    font-size: 14px;
    background: #60a352;
    color: #fff;
    font-family: 'open_sansregular';
    border-radius: 50%;
    z-index: 10;
    border: 3px solid #c7e5c8;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    padding: 1px;
}


/* test popover*/

.popover .prog-point .progress-bar {
    transform: none;
    height: 10px !important;
    width: 197px !important;
    margin-top: 15px !important;
}
.popover .prog-point svg#line-progress {
    height: 10px !important;
    width: 197px !important;
}

.prog-point{
    background: #f0f8fe;
    min-height: 46px;
    padding: 5px 5px 2px 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    top: 2px;
    position: relative;
}


/****************************************************************************************************************************************************************************************/
/************************************************************************************My Points****************************************************************************************************/
/****************************************************************************************************************************************************************************************/



#achivements .uiGrid.table tr td {
    padding: 5px 0px;
    text-align: center;

}
#achivements .uiGrid.table.table-hover.table-striped.rule-table {
    margin: auto;
    width: 99%;
}
#achivements .uiBox {

    background: transparent;
}
#achivements .user-GamificationInformations-portlet .uiIconViewByChart {
    color: #4d5466 !important;
    font-size: 18px;
    top: 9px;
    padding-right: 10px;
    opacity: 0.4;
}
#achivements .list-group-item:hover .uiIconViewByChart {
    opacity: 1;
}
#achivements .desc-user a {
    color: #4d5466 !important;
}
#achivements .desc-user a:hover,
#achivements .desc-user a:focus {
    color: #578dc9 !important;
}
#achivements .current-rank .desc-user {
    padding-left: 10px;
    width: 50%;
}
#achivements .user-GamificationInformations-portlet .img-thumbnail {
    width: 40px;
    padding: 0;
    height: 40px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
#achivements h5 {
    text-align: center;
}
#achivements select {
    height: calc(2.25rem + 2px);
    font-size: 14px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.desc-user a:hover {
    color: #578dc9;
}
#achivements .list-lead .list-li::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f4f5f5;
    left: 0;
    display: block;
}
#achivements .list-lead .list-li:last-child::after {
    display: none;
}
#achivements .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

#achivements .show>.btn-secondary.dropdown-toggle {
    background-color: #578dc9;
    border: solid 1px #578dc9;
    color: #fff;
}
#achivements .custom-select {
    font-size: 14px;
}
#achivements .avatarCircle {
    width: 50px !important;
    height: 50px !important;
}
#achivements .actionIco {
    border: 1px solid transparent;
}
#achivements .actionIco:hover {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
    border: 1px solid #e1e8ee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0);
    -moz-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0);
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0);
    color: #333;
}
#achivements .btn-block {
    display: block;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#achivements div#ActivitiesLoader {
    display: table-caption;
    caption-side: bottom;
}
#achivements a.ico-info.actionIco {
    position: relative;
    margin-top: -10px;
    margin-left: -5%;
    padding: 5px 0px;
    display: block;
    margin-right: 5%;
    top: 5px;
    float: right;
}
i.uiIconInformation {
    color: #999999;
}
#achivements .actionIco {
    border: 1px solid transparent;
}

#achivements .uiGrid.table tr th {
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
}
#achivements .vue-avatar--wrapper {
    margin: 3px 3px;
    width: 35px !important;
    margin: auto;
    zoom: 115%;
}


@media (max-width: 434px) {
    #achivements .uiGrid.table td:nth-child(2) {
        width: 55%;
        padding: initial;
    }
    #achivements .uiGrid.table tr td {

        padding: 5px;
    }

    #achivements .uiGrid.table td:nth-child(5) {
        font-size: 0.9em;
        padding: 5px 0px !important;
    }
    .uiGrid.table td:nth-child(3) {
        margin-left: 3.7em;
    }

}
@media (min-width:1189px) {
    #achivements .col.md2 {
        position: absolute;
        margin-top: -90px;
        transform: translateX(-50%);
        margin-left: 57%;
    } }

@media (max-width:1188px) {


    #achivements  .col.md2 {
        position: absolute;
        margin-top: -90px;
        transform: translateX(-50%);
        margin-left: 51%;
    }}


/* mobile fix*/
@media (max-width: 370px){
    #achivements .points {
        margin:8px -15px !important;
    }
}


@media (max-width: 769px){
    .table-striped>tbody>tr:nth-of-type(odd){
        background-color: transparent !important;
    }
    #achivements .uiGrid.table {
        border: 1px solid transparent;
    }
    #achivements  .uiGrid.table thead tr:first-child {
        display: none;
    }
    #achivements .uiGrid.table tr td {
        display: inline-flex;
        border: transparent;
        padding: 5px;
        background:transparent;
        text-align: start;
    }
    #achivements .uiGrid.table thead tr:first-child {
        display: none;
    }
    #achivements .uiGrid.table td:nth-child(1) {
        transform: translateY(35%);
    }

    #achivements .uiGrid.table td:nth-child(2) {
        width: 70%;
        padding: 5px 10px;
    }
    #achivements .uiGrid.table td:nth-child(3) {
        margin-left: 4.5em;
        font-size: 0.9em;
        padding-right: 0;
    }

    #achivements  .uiGrid.table td:nth-child(4) {
        float: right;
        position: initial;
        transform: translateY(-60%);
        padding-right: 10px;
        font-weight: bold;
        color: #666;
    }
    #achivements .uiGrid.table td:nth-child(5) {
        font-size: 0.9em;
        padding: 0;
        padding-left: 0;
    }
    .uiGrid.table td:nth-child(5):BEFORE {
        content: '-';
        margin-right: 2px;
    }

}
/*GLOBAL*/
