<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of the Meeds project (https://meeds.io/).
Copyright (C) 2020 Meeds Association
contact@meeds.io
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License
along with this program; if not, write to the Free Software Foundation,
Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>gamification-portlets</display-name>

    <absolute-ordering/>

    <!-- Run mode: prod, dev or live -->
    <context-param>
        <param-name>juzu.run_mode</param-name>
        <param-value>${juzu.run_mode:prod}</param-value>
    </context-param>

    <!-- Injection container to use: guice, spring, cdi or weld -->
    <context-param>
        <param-name>juzu.inject</param-name>
        <param-value>guice</param-value>
    </context-param>
    <filter>
        <filter-name>ResourceRequestFilter</filter-name>
        <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResourceRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ================================================================== -->
    <!--           LISTENER                                                 -->
    <!-- ================================================================== -->

    <listener>
        <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
    </listener>

    <!-- ================================================================== -->
    <!-- = Juzu configuration                                             = -->
    <!-- ================================================================== -->
    <servlet>
        <servlet-name>AssetServlet</servlet-name>
        <servlet-class>juzu.impl.asset.AssetServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssetServlet</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

</web-app>
