@import "variables.less";
@import "mixins.less";

#ChallengesApplication {
  background-color: @white !important;
  min-height: ~"calc(100vh - 120px)";

  .addChallengeButton {
    .v-btn {
      text-transform: none !important;
      font-weight: normal !important;
    }
  }
  .challengeFilter{
    width: 25%;
    max-width: 400px;
    min-width: 115px !important;
    .v-tooltip__content{
      right: 18% ~'!important; /** orientation=lt */ ';
      left: auto ~'!important; /** orientation=lt */ ';
      left: 18% ~'!important; /** orientation=rt */ ';
      right: auto ~'!important; /** orientation=rt */ ';
      top: 40px !important;
    }
  }
  .challengeQuickFilter{
    width: 15%;
    max-width: max-content;
    min-width: fit-content !important;
  }
}

.emptyChallenges {
  min-height: ~"calc(100vh - 400px)" ;
}
.engagement-center-card {
  .v-badge__badge {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
  }
}

#winnersDetails {
  .accountTitleWrapper {
    border-bottom: 1px solid @greyColorLighten1Default;

    .accountTitleItem {
      max-width: 100%;

      &:before {
        display: none !important;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }

      &:focus {
        &:before {
          opacity: 0;
        }
      }

      .accountTitleLabel {
        color: @toolbarLightLinkHoverColor;
        font-size: 0.9rem !important;
      }

      .externalFlagClass {
        color: @baseColorLight;
        font-weight: normal;
      }
    }
  }
}

#EngagementCenterPrograms {
  background-color: @white !important;
  min-height: ~"calc(100vh - 120px)";
}

#engagementCenterProgramDetail {
  min-height: ~"calc(100vh - 170px)";
}

#Realizations {
  margin: 25px;
  background-color: @white !important;

  .export{
    font-weight: normal !important;
  }
  .realizationsTable{
    .actionHeader{
      font-weight: bold !important;
      font-size: 14px !important;
      color: @darkGrey;
    }
    .actionDescription{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      max-height: 10em;
      word-break: break-word;
      padding: 0;
      height: auto;
    }
    .actionTitle {
      word-break: break-word;
    }
    .actions {
      .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled){
        cursor: pointer;
        font-size: 14px;
        color: @darkGrey;
      }
    }
    .defaultCursor {
      cursor: default !important;
    }
  }
  .selected-period-menu {
     width: 18% !important;
    .theme--light.v-input input{
      color: var(--allPagesGreyColorLighten1, @greyColorLighten1Default) !important;
    }
    .time-picker {
      display: inline;
      min-width: auto !important;
      width: auto !important;
      margin: 0;
      padding: 0;
    }
    .date-time-selection {
      letter-spacing: 0px !important;
      white-space: normal;
    }
    .period-selection {
      box-sizing: border-box;

      .v-btn {
        width: 33%;
        box-sizing: border-box;
        border: 0 !important;
      }
    }
    .selected-period-input {
      max-width: 225px !important;
      .v-input__slot {
        margin: 4px 0 0;
      }
    }
    .selected-period-menu-content {
      max-width: 400px !important;
      width: 400px !important;
    }
    .v-picker__title{
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
    }
    .v-picker.v-card.v-picker--date.theme--light{
      width: 400px;
    }
    .v-date-picker-table {
      height: auto;
    }
    .v-date-picker-table--month tr td .v-btn {
      box-sizing: border-box;
    }
    .v-picker__actions {
      padding-top: 0;
    }
  }
  .editRealizationDrawer{
    .pointsRealization{
      width: 25%;
    }
    .tooManyChars {
      position: absolute;
      right: 24px ~'; /** orientation=lt */ ';
      left: 24px ~'; /** orientation=rt */ ';
    }
    .uiIconMessageLength {
      font-size: 14px;
      color: @successColor;
      &:before {
        content: "\e910";
      }
    }
    .labels {
      color : @darkGrey;
    }
  }
}
.EngagementCenterDrawer {
  .alert{
    text-align: center;
  }
  .points {
    max-width: 90px !important;
  }
  .EngagementCenter-title {
    .v-input__slot {
      &:before {
        border: none !important;
      }
      &:after {
        border: none !important;
      }
      textarea {
        border: none !important;
        padding: 3px 6px !important;
        width: 100% !important;
        font-size: 20px;
        margin-top: -4px;
        color: @textColor !important;
        &::placeholder {
          font-size: 19px !important;
        }
        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
  .EngagementCenterAssignItem{
    position : relative ;
    .assigneeName{
      max-width : 75%;
      .identitySuggesterItem {
        background-color: @primaryColorLight ;
        border: 1px solid @primaryDarkerColorGradientEnd ;
        color: @btnPrimaryColor ;
        width: max-content;
      }
    }
    .challengeAssignBtn {
      position: absolute;
      width: 25% ;
      left: 0  ~'; /** orientation=rt */ ';
      right: 0  ~'; /** orientation=lt */ ';
      .uiAddAssignIcon {
        margin-top: -4px !important;
        padding-right: 6px;

        &:before {
          content: "\e6c4";
          color: @greyColorLighten1Default;
          font-size: 15px;
        }
      }
    }
    .assignChallengeMenu {
      .uiAssignToMeIcon {
        margin-top: -4px;

        &:before {
          content: "\e6cc";
          padding-right: 6px;
          font-size: 16px;
        }
      }
    }
  }
  .challengeDates {
    max-width: max-content;
    padding-right: 10px;
    .datePickerComponent {
      &:after {
        display: none !important;
      }
      input {
        max-width: 90% !important;
        padding: 12px 5px 0px 4px  ;
        border: none;
        box-shadow: none;
        font-size : 16px;
        &::placeholder {
          font-size: 16px !important;
        }
      }
    }
    .challengePlanDateCalender {
      max-height: 40px;

      .uiIconStartDate {
        color: @primaryColor;
        font-size: 24px;
        margin-left: -2px;

        &:before {
          content: "\ebf3";
        }
      }
    }
    .challengeEndDateCalender {
      max-height: 40px;

      .uiIconEndDate {
        &:before {
          content: "\ebf2";
          color: @primaryColor;
          font-size: 22px;
        }
      }
      .v-picker__actions.v-card__actions {
        border-top: 1px solid @borderColor;
        margin-top: 4px;

        .dateFooter {
          width: 100%;
        }
      }
    }
  }
}

.EngagementCenterImageSelector{
    .v-image__image {
      filter: brightness(70%);
    }
  .changeImgButton {
    top: 20%;
    left: 45%;
    position: absolute;

    .v-input__prepend-outer {
      margin: 0;

      button {
        color: @lightWhite;
        padding: 3px;
        size: 34px;
      }
    }

    .v-input__control {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

#realizationFilter, #EngagementCenterProgramDrawerForm {
  .v-autocomplete.identitySuggester {
    .v-input__slot {
      margin: auto !important;
    }

    .v-select__selections {
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: hidden;
      margin: auto;
      display: flex !important;
    }

    input {
      padding: 0;
    }
  }
}

#engagementCenterTabs {
  .v-slide-group__prev, .v-slide-group__next {
    display: none;
  }
}

