@import "variables.less";
@import "mixins.less";

#usersLeaderboard {
  .UserGamificationHeader {
    line-height: 26px;
  }
  .selectDomainFilterParent {
    max-width: 50%;

    .selectDomainFilter {
        width: auto;
        max-width: 100%;
        padding-right: 20px;
    }
  }
  .v-tabs {
    .v-tab {
      text-transform: capitalize;
    }
    .v-tabs-slider-wrapper .v-tabs-slider.skeleton-text {
      color: @skeletonColor !important;
    }
  }
}

.usersLeaderboardChartParent {
  min-height: 250px;
  min-width: 250px;
  display: flex !important;

  div {
    margin: auto;
  }
}
.leaderboardDomainColor {
  min-height:14px;
  min-width:14px;
  border-radius: 50%;
}
